.button-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 300px;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.colour-theme-button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #ccc;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    outline: none;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.colour-theme-button::before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 25%;
    width: 2px;
    transform: translateX(-50%);
}

.button-0::before {
    background-color: rgb(221, 5, 52);
}

.button-1::before {
    background-color: rgb(221, 5, 52);
}

.button-2::before {
    background-color: rgb(221, 5, 52);
}

.button-0 {
    background-color: white;
    border-color: #D5E3F0;
}

.button-1 {
    background-color: white;
    border-color: #795695;
}

.button-2 {
    background-color: white;
    border-color: #87ab69;
}

.button-0.active {
    background-color: #D5E3F0;
    border-color: #D5E3F0;
}

.button-1.active {
    background-color: #795695;
    border-color: #795695;
}

.button-2.active {
    background-color: #87ab69;
    border-color: #87ab69;
}