.paper {
    background-color: white;
    border: 1px solid #cccccc85;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 40px;
    border-radius: 0px;
    width: 600px;
    min-height: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

.paper::before {
    content: '';
    position: absolute;
    left: 60px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: rgb(221, 5, 52);
    z-index: 2;
}

.paper::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, #D5E3F0 2px, transparent 1px);
    background-size: 100% 40px;
    z-index: 1;
}