.paper {
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 70px;
    border-radius: 0px;
    width: 600px;
    min-height: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

.paper::before {
    content: '';
    position: absolute;
    left: 80px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: rgb(221, 5, 52);
    z-index: 2;
}

.paper::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, #D5E3F0 2px, transparent 1px);
    background-size: 100% 40px;
    z-index: 1;
}

.hole {
    position: absolute;
    left: 30px;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #cccccc;
    border-radius: 50%;
    z-index: 3;
}

.top-hole {
    top: 230px;
}

.bottom-hole {
    top: 550px;
}

.title {
    text-align: left;
    margin-top: 20px;
    margin-left: 80px;
    font-size: 24px;
    font-weight: 600;
    z-index: 4;
}

.todos {
    margin-top: 25px;
    margin-left: 80px;
}

.todo {
    font-size: 16px;
}

.todo-input {
    width: 500px;
    border: none;
    border-bottom: 1px solid #cccccc;
    font-size: 16px;
    outline: none;
}