.paper {
    background-color: white;
    border: 1px solid #cccccc85;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    border-radius: 0px;
    width: 600px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-image: linear-gradient(to bottom, blue 1px, transparent 2px);
    background-size: 100% 30px;
}

.paper::before {
    content: '';
    position: absolute;
    left: 60px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: red;
}